/* Custom Styles */
*{
    scroll-behavior: smooth;
    font-family: 'Antimoon', sans-serif; /* Set Antimoon as the font */
}

/* Custom Styles for Usage Cards */
.card {
    margin: 15px;
    transition: transform 0.2s; /* Animation */
}
.card:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

.animated-section {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.animated-section.visible {
    opacity: 1;
}
.list-group-item {
    margin: 1px; /* Adds spacing between items */
    text-align: center; /* Centers the text */
}
.list-group-item-primary {
    background-color: #007bff;
    color: white;
    border-radius: 8px;
}

.list-group-item-primary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #212529;
    padding: 15px 0;
}

footer p {
    color: #fff;
    font-size: 0.9rem;
}

span {
    font-family: 'Verdana', sans-serif;
    color: #ffffff37;
    font-weight: bold;
}

span:hover {
    color: #fff;
}

.toogle a {
    margin: 5px;
    color: #ffffff37;
    font-size: 1.7rem;
    transition: color 0.3s;
}

.toogle .email:hover {
    color: #fff;
}

.toogle .insta:hover {
    color: #e11b61;
}

.toogle .x:hover {
    color: #000;
}

.toogle .face:hover {
    color: var(--primary-color);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
