<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="icon" href="/static/image/error.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Error</title>
</head>
<body>
    <div class="error">
        <div>
            <img src="/static/image/error-page.png" alt="...">
        </div>
        <div class="info">
            <h1>Something's wrong here</h1>
            <p>Please Select video or audio file.</p>
            <div class="toogle">
                <div>
                    <a href="https://api.whatsapp.com/send?phone=+201069854790&text=Error"><button>Help</button></a>
                </div>
                <div class="social">
                    <a class="insta" href="http://instagram.com/adel_mahmoud10/"><i class="fa-brands fa-instagram"></i></a>
                    <a class="x" href="https://twitter.com/Adel_MAhmoud100?s=09"><i class="fa-brands fa-x-twitter"></i></a>
                    <a class="face" href="https://www.facebook.com/profile.php?id=100013266852973"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
